<div data-horizontal-scrolling-area="true">
    <div class="displayWall-YbKf1">
        <div class="listWrap-zxHts">
            <div class="line-1gYmb">
                <div class="linkWrap-bhCpC" aria-label="Beauty &amp; Health From £0.16">
                    <a href="/uk/beauty-health-o3-25.html" class="a-2Tl9q">
                        <div class="wrapper-1PDnM">
                            <div class="imgWrap-3ZIcC">
                                <!-- Images and other content -->
                            </div>
                            <div>
                                <div class="tips-MFVQa">From £0.16</div>
                                <div class="title-L--QE">Beauty &amp; Health</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="linkWrap-bhCpC" aria-label="Beauty &amp; Health From £0.16">
                    <a href="/uk/beauty-health-o3-25.html" class="a-2Tl9q">
                        <div class="wrapper-1PDnM">
                            <div class="imgWrap-3ZIcC">
                                <!-- Images and other content -->
                            </div>
                            <div>
                                <div class="tips-MFVQa">From £0.16</div>
                                <div class="title-L--QE">Beauty &amp; Health</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="linkWrap-bhCpC" aria-label="Beauty &amp; Health From £0.16">
                    <a href="/uk/beauty-health-o3-25.html" class="a-2Tl9q">
                        <div class="wrapper-1PDnM">
                            <div class="imgWrap-3ZIcC">
                                <!-- Images and other content -->
                            </div>
                            <div>
                                <div class="tips-MFVQa">From £0.16</div>
                                <div class="title-L--QE">Beauty &amp; Health</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="linkWrap-bhCpC" aria-label="Beauty &amp; Health From £0.16">
                    <a href="/uk/beauty-health-o3-25.html" class="a-2Tl9q">
                        <div class="wrapper-1PDnM">
                            <div class="imgWrap-3ZIcC">
                                <!-- Images and other content -->
                            </div>
                            <div>
                                <div class="tips-MFVQa">From £0.16</div>
                                <div class="title-L--QE">Beauty &amp; Health</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Other similar blocks for different categories -->
            </div>
        </div>
    </div>
</div>
